---
import { Image } from "astro:assets";
import Logo from "./Logo.astro";
import SocialLinks from "./SocialLinks.astro";
import background from "../assets/0030_small.png";

export interface Props {
  name?: string;
  title?: string;
  description?: string;
  imageAlt?: string;
}

const { 
  name = "Pubudu Ranasinghe",
  title = "Software Engineer",
  imageAlt = "Just a background image"
} = Astro.props;
---

<article id="container">
  <main>
    <header class="hero">
      <Logo />

      <h1>
        {name}
        <span>{title}</span>
      </h1>
      
      <section class="bio">
        <p>
          I am a <span>passionate engineer</span> based in the beautiful island of
          Sri Lanka. I love everything about <span>tech, building products</span
          > and experimenting with
          <span>design & photography</span>.
        </p>
        <p>
          Previously I worked at <span
            ><a href="https://99x.io/" target="_blank" rel="noopener noreferrer">99X</a> & <a
              href="https://www.itelasoft.com.au/" target="_blank" rel="noopener noreferrer">iTelaSoft</a
            ></span
          >.
          <br />
          Currently I work as a <span
            >Staff Engineer at <a href="https://www.nagarro.com/en/" target="_blank" rel="noopener noreferrer">Nagarro</a
            ></span
          > and co-founder of <span>TrizenLabs</span>.
        </p>
      </section>
      
      <SocialLinks />
    </header>
  </main>
  <aside id="image">
    <Image 
      src={background} 
      alt={imageAlt}
      loading="eager"
      decoding="sync"
    />
  </aside>
</article>

<style>
  h1 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-stone-7);
    line-height: var(--line-height-base);
    margin-bottom: 50px;
  }

  h1 span {
    color: var(--color-stone-5);
    display: block;
    font-weight: var(--font-weight-base);
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: var(--hero-padding);
  }

  .bio > p {
    max-width: var(--max-width-content);
  }

  #image {
    height: var(--image-height);
    overflow: hidden;
  }

  #image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>
