---
import Logo from "./Logo.astro";
import SocialLinks from "./SocialLinks.astro";

export interface Props {
  name?: string;
  title?: string;
  description?: string;
}

const { name = "Pubudu Ranasinghe", title = "Software Engineer" } = Astro.props;
---

<article id="container">
  <main>
    <header class="hero container">
      <Logo />

      <h1>
        {name}
        <span>{title}</span>
      </h1>

      <section class="bio">
        <p>
          I am a <span>passionate engineer</span> based in the beautiful island of
          Sri Lanka. I love everything about <span>tech, building products</span
          > and experimenting with
          <span>design & photography</span>.
        </p>
        <p>
          Previously I worked at <span
            ><a href="https://99x.io/" target="_blank" rel="noopener noreferrer"
              >99X</a
            > & <a
              href="https://www.itelasoft.com.au/"
              target="_blank"
              rel="noopener noreferrer">iTelaSoft</a
            ></span
          >.
          <br />
          Currently I work as a <span
            >Staff Engineer at <a
              href="https://www.nagarro.com/en/"
              target="_blank"
              rel="noopener noreferrer">Nagarro</a
            ></span
          > and co-founder of <span>TrizenLabs</span>.
        </p>
      </section>

      <SocialLinks />
    </header>
  </main>
</article>

<style>
  h1 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-stone-7);
    line-height: var(--line-height-base);
    margin-bottom: 50px;
  }

  h1 span {
    color: var(--color-stone-5);
    display: block;
    font-weight: var(--font-weight-base);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--hero-padding-vertical);
    padding-bottom: var(--hero-padding-vertical);
  }

  .bio > p {
    max-width: var(--max-width-content);
  }
</style>
