---
import Header from "./Header.astro";
import SocialLinks from "./SocialLinks.astro";

export interface Props {
  name?: string;
  title?: string;
  description?: string;
}

const { name = "Pubudu Ranasinghe", title = "Software Engineer" } = Astro.props;
---

<article id="container">
  <main>
    <Header name={name} title={title} />
    <section class="bio container">
      <p>
        I am a <span>passionate engineer</span> based in the beautiful island of
        Sri Lanka. I love everything about <span>tech, building products</span> and
        experimenting with
        <span>design & photography</span>.
      </p>
      <p>
        Previously I worked at <span
          ><a href="https://99x.io/" target="_blank" rel="noopener noreferrer"
            >99X</a
          > & <a
            href="https://www.itelasoft.com.au/"
            target="_blank"
            rel="noopener noreferrer">iTelaSoft</a
          ></span
        >.
        <br />
        Currently I work as a <span
          >Staff Engineer at <a
            href="https://www.nagarro.com/en/"
            target="_blank"
            rel="noopener noreferrer">Nagarro</a
          ></span
        > and co-founder of <span>Trizen Labs</span>.
      </p>
      <SocialLinks />
    </section>
  </main>
</article>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio {
    padding-bottom: var(--hero-padding-vertical);
  }

  .bio > p {
    max-width: var(--max-width-content);
  }
</style>
