@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.post {
  width: 100%;
  font-weight: 400;
  line-height: 1.7;
}

.post p,
.post pre,
.post ul {
  margin-bottom: 1.25em;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

.post h1 {
  margin-top: 0;
  font-size: 1.802em;
}

.post h2 {
  font-size: 1.602em;
}

.post h3 {
  font-size: 1.424em;
}

.post h4 {
  font-size: 1.266em;
}

.post h5 {
  font-size: 1.125em;
}

.post small,
.text_small {
  font-size: 0.833em;
}

.post ul {
  list-style: disc;
  margin-left: 1.45em;
}

.post pre {
  background-color: #fafafa;
  padding: 1.25em;
  overflow: scroll;
}

.post code {
  background-color: #fafafa;
  padding: 0.25em;
}

.post blockquote {
  border-left: 2px solid #333;
  background-color: #fafafa;
  padding: 1.25em;
  margin-bottom: 1.25em;
}

.post blockquote > p {
  margin: 0;
}

.post .caption {
  font-size: 0.733em;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1.25em;
}
