---
import { getCollection, type CollectionEntry } from "astro:content";

type BlogEntry = CollectionEntry<"blog">;

// Fetch published blog posts, sorted by date (newest first)
const posts = await getCollection("blog", ({ data }: BlogEntry) => {
  return data.draft !== true;
});

const sortedPosts = posts.sort(
  (a: BlogEntry, b: BlogEntry) =>
    b.data.publishDate.getTime() - a.data.publishDate.getTime()
);
---

<section class="pb-20 container">
  <h2 class="font-medium text-stone-700 leading-7 mb-8">Writing</h2>
  <ul class="list-none p-0 m-0">
    {
      sortedPosts.map((post: BlogEntry) => (
        <li class="mb-4 last:mb-0">
          <a
            href={`/${post.slug}`}
            class="text-stone-500 leading-7 no-underline transition duration-200 ease-in-out hover:text-stone-800"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</section>
